.PhotoTrick-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.PhotoTrick-feed-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
