.PhotoTrick-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.PhotoTrick-feed-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PhotoTrick-body {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.PhotoTrick-body-container {
  display: flex;
  width: fit-content;
}

.PhotoTrick-body-container-mobile {
  max-width: 450px;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 90vw;
  }
}
