.FrameSelector-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;

  h3 {
    text-transform: uppercase;
  }
}

.FrameSelector-image {
  scroll-snap-align: center;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition:
    transform 0.2s,
    border 0.2s;
  flex-shrink: 0;
}

.FrameSelector-image:hover {
  transform: scale(1.1);
}

.FrameSelector-selected {
  border: 2px solid #8a2be2;
  border-radius: 4px;
}

.FrameSelector-container .slide {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
